.cart-item {
    display: flex;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &--img {
        img {
            width: 90px;
        }
    }
    &--detail {
        display: flex;
        flex-direction: column;
        width: calc(100% - 90px);
        justify-content: space-between;
        margin-left: 10px;

        &__title {
            display: flex;
            justify-content: space-between;

            &_a {
                color: black !important;
                font-size: 18px !important;
                letter-spacing: 0 !important;
            }
        }

        &__btn {
            span {
                margin: 0 10px;
            }
        }
    }
}