.btn {
    text-align: center;
    height: 60px;
    width: 150px;
    &-red {
        background-color: red;
        color: white;
    }

    &-white {
        background-color: gray;
        color: red;
    }

    &-green {
        background-color: green;
        color: white;
    }
}

