.product-list-item {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    transition: 0.3s;
    width: 300px;
    margin: 5px;
    text-align: center;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    &-container {
        padding: 10px 16px;
    }

    img {
        max-width: 300px;
        height: auto;
    }
}